 
body{ 
    background-color:#ffffff;
    font-family:'Mr Eaves Mod Book', trebuchet, sans-serif !important;
    font-size:1.2em !important;
}

a,
a:link,
a:active,
a:visited {
    color: #39b87c;
    text-decoration: none; 
}

a:hover {
    color: #007855;
    text-decoration: none !important;
} 
hr{
    margin:1rem !important;
}
.small {
    font-size:0.75rem !important;
}
.header .nav a{
    color: #fff !important; 
}
.header .nav .dropdown-menu a{
    background-color:#3d3d3d !important;
    color: #fff !important; 
    font-size:1.2em !important;
}
.header .nav  .dropdown-menu {
    background-color:#3d3d3d;
    margin-top:-0.15em;
}
.header .nav  .dropdown-menu-arrow:after{
    border-bottom:5px solid #3d3d3d;
}
.header .nav a.active, .header .nav .dropdown-menu a:hover{ 
    color:#89efbe !important; 
} 
.header-toggler {
    color:#9aa0ac !important;
}
#headerMenuCollapse {
    background-color:#007855 !important;
}
.page-header{
    margin:0 !important;
}
.container {
    width:98% !important; 
    max-width:99% !important;
}
.form-group{
    /*  display:flex !important; TEMP FIX */ 
}
.footer, .footer a{
    background-color:#3d3d3d;
    color: #e8e8e8 !important; 
    font-size:0.95em;
}
.footer-logo{
    width:100%;
    max-width:250px;
}

.page-title, .h1 {
    font-size:2em;
}
.btn, label, .form-label{
    font-size:1rem !important; 
    padding: 0.25em 0.5em; 
}
.btn-success{
    background-color:#38b77c !important;
}
.form-control{
    font-size:1em; 
}
.btn-green{
    color: #fff !important;
    background-color: #007855 !important;
    border-color: #007855 !important;
} 
.card-title {
    font-size:1.5em;
}

.avatar{
    background-color:#ffffff !important;
} 
.custom-select, .form-control {
    padding: 0.2rem 0.5rem;
}


/* Schedule */ 
.bg-grey{
    background-color:#fafafa;
}
.bg-light-pink{
    background-color:#ffe1e1 !important;
}
.tab {
    float: left;
    border: 1px solid #eee;
    width: 60%;  
    height:625px;
    overflow-y: scroll;
    overflow-x:hidden;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 10px;
    border: 1px solid #eee;
    width: 40%;
    border-left: none; 
    height:625px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.tablinks {
    padding:5px;
    cursor: pointer;
    border-bottom: solid 1px #ddd;
}
.tab .active{
    background-color: #f1f1f1;

}
.tablinks:hover{
    background-color: #f1f1f1;
}
@media (max-width:700px){
    .tab {
        width:100%;
    }
    .tabcontent{
        display:none;
    }
}





/*
Specific Styles
*/
@media (min-width: 576px) { 
    .panel-height1 { height: 250px; }
    .panel-height2 { height: 350px; }
    .panel-height3 { padding: 15px 5px; }
}
@media (min-width: 768px) { 
    .panel-height1 { height: 140px; }
    .panel-height2 { height: 300px; }
}
@media (min-width: 992px) {
    .panel-height1 { height: 120px; } 
}
