<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="https://healthipass.com/wp-content/uploads/2018/03/cropped-favicon-1-32x32.png" sizes="32x32" />
        <link rel="icon" href="https://healthipass.com/wp-content/uploads/2018/03/cropped-favicon-1-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="https://healthipass.com/wp-content/uploads/2018/03/cropped-favicon-1-180x180.png" />
        <meta name="msapplication-TileImage" content="https://healthipass.com/wp-content/uploads/2018/03/cropped-favicon-1-270x270.png" />

        <title>404 - Page not found</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="<?= $this->basePath() ?>/assets/css/tabler.css">
        <link rel="stylesheet" href="<?= $this->basePath() ?>/css/hipx-styles.css"> 
        <style>
            @font-face {
                font-family: 'Mr Eaves Mod Bold';
                src: url('<?= $this->basePath() ?>/assets/fonts/Mr-Eaves-Mod-Bold.otf') format("truetype");
                font-style: normal;
                font-weight: 800;
            }
            @font-face {
                font-family: 'Mr Eaves Mod Book';
                src: url('<?= $this->basePath() ?>/assets/fonts/Mr-Eaves-Mod-Book.otf') format("truetype");
                font-style: normal;
                font-weight: 400;
            }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
        <script>
            requirejs.config({
                baseUrl: '<?= $this->basePath() ?>'
            });
        </script> 
    </head>
    <body class=""> 
        <div class="page">
            <div class="page-content">
                <div class="container text-center">
                    <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> 404</div>
                    <h1 class="h2 mb-3">Page not found</h1>
                    <p class="h4 text-muted font-weight-normal mb-7">We can't find the page you're looking for &hellip;</p>
                    <a class="btn btn-green" href="<?= $this->basePath() ?>">
                        Back to Homepage
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>