
<?= $this->doctype() ?>

<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="https://healthipass.com/wp-content/uploads/2018/03/cropped-favicon-1-32x32.png" sizes="32x32" />
        <link rel="icon" href="https://healthipass.com/wp-content/uploads/2018/03/cropped-favicon-1-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="https://healthipass.com/wp-content/uploads/2018/03/cropped-favicon-1-180x180.png" />
        <meta name="msapplication-TileImage" content="https://healthipass.com/wp-content/uploads/2018/03/cropped-favicon-1-270x270.png" />

        <?= $this->headTitle('Health iPASS')->setSeparator(' - ')->setAutoEscape(false) ?> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="<?= $this->basePath() ?>/assets/css/tabler.css">
        <style>
            @font-face {
                font-family: 'Mr Eaves Mod Bold';
                src: url('<?= $this->basePath() ?>/assets/fonts/Mr-Eaves-Mod-Bold.otf') format("truetype");
                font-style: normal;
                font-weight: 800;
            }
            @font-face {
                font-family: 'Mr Eaves Mod Book';
                src: url('<?= $this->basePath() ?>/assets/fonts/Mr-Eaves-Mod-Book.otf') format("truetype");
                font-style: normal;
                font-weight: 400;
            }
        </style>  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
        <script>
            requirejs.config({
                baseUrl: '<?= $this->basePath() ?>' //Required for collapsible menu
            });
        </script> 
        <script src="<?= $this->basePath() ?>/assets/js/dashboard.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> 
        <link rel="stylesheet" href="<?= $this->basePath() ?>/css/hipx-styles.css?v=<?= microtime() ?>"> 
    </head>
    <body class=""> 
        <div class="page">
            <div class="page-main">
                <div class="header py-4">
                    <div class="container">
                        <div class="d-flex">
                            <a class="header-brand" href="<?= $this->basePath() ?>">
                                <img src="<?php echo $this->basePath(); ?>/providerlogo/<?php echo $_SESSION['Default']['providerLogo']; ?>"  width="<?php echo $_SESSION['Default']['providerLogoWidth']; ?>" height="<?php echo $_SESSION['Default']['providerLogoHight']; ?>" style="height:46px !important; padding-top:3px; width:auto !important;"/> 
                            </a>
                            <div class="d-flex order-lg-2 ml-auto"> 

                                <div class="dropdown d-xs-flex">
                                    <a class="nav-link icon" data-toggle="dropdown">
                                        <span class="avatar"> <i class="fe fe-bell"></i></span> 
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a href="#" class="dropdown-item d-flex">
                                            <div>
                                                This is notification message
                                                <div class="small text-muted">10 minutes ago</div>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item text-center text-muted-dark">Mark all as read</a>
                                    </div>
                                </div>

                                <div class="dropdown  d-xs-flex ">
                                    <a class="nav-link icon" >
                                        <span class="avatar"> <i class="fe fe-help-circle"></i> </span>
                                    </a>
                                </div>

                                <div class="dropdown  d-xs-flex ">
                                    <a class="nav-link icon" >
                                        <span class="avatar"> <i class="fe fe-settings"></i> </span>
                                    </a>
                                </div>
                                <div class="dropdown">
                                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                        <span class="avatar"><i class="fe fe-user"></i></span>
                                        <span class=" ">
                                            <span class="text-default"><?= $_SESSION['Default']['userDisplayName'] ?></span> 
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="#">
                                            <i class="dropdown-icon fe fe-user"></i> Profile
                                        </a> 
                                        <div class="dropdown-divider"></div> 
                                        <a class="dropdown-item" href="<?= $this->basePath() ?>/logout">
                                            <i class="dropdown-icon fe fe-log-out"></i> Sign out
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                                <span class="header-toggler-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
                    <div class="container">
                        <div class="row align-items-center"> 
                            <div class="col-lg order-lg-first">
                                <?php echo $this->partial('layout/menu'); ?>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-3 my-md-5">
                    <div class="container">
                        <?php echo $this->content; ?>   
                    </div>
                </div>
            </div> 
            <footer class="footer">
                <div class="container">
                    <div class="row col-lg-auto mt-3 mt-lg-0 text-center">
                        <div class="col-sm-5 ">
                            <div class="row text-center">
                                <div class="col-auto">
                                    <ul class="list-inline list-inline-dots mb-0">
                                        <li class="list-inline-item"><a href="#">Terms</a></li>
                                        <li class="list-inline-item"><a href="#">Privacy</a></li>
                                        <li class="list-inline-item"><a href="#">Contact Us</a></li>
                                    </ul>

                                    <span>Copyright © <?= date('Y') ?> <a href="https://healthipass.com" target="_blank">Health iPASS</a></span>
                                </div> 
                            </div>
                        </div> 

                        <div class="col-sm-7">
                            <img src="<?php echo $this->basePath(); ?>/images/HealthiPASS-Logo-White.png" alt="" class="footer-logo pull-right"/>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>
