<?php
/*
 * Provider menu items 
 */
if ($_SESSION['Default']['userRole'] == 'provider') {
    //build the menu
    $menuItems['Dashboard'] = BASE_PATH . '/provider';

    $menuItems['Schedule'] = BASE_PATH . '/schedule';
    $menuItems['Patient <sup>2</sup>'] = BASE_PATH . '/patients';
    $menuItems['Statement Hub'] = '#';

    /*
     * Reports Menu
     */
    $reportsMenuItems['Check-ins Adoption'] = BASE_PATH . '/provider/checkinsadoptionreport/index';
    if (in_array($_SESSION['Default']['providerId'], [12, 22, 27])) { //@TODO: Replace provIds with configuration value
        $reportsMenuItems['Daily Check-Out Collections'] = BASE_PATH . '/provider/dailycheckoutreport/index';
    }
    $reportsMenuItems['Daily POS Collections'] = BASE_PATH . '/provider/dailycheckinsreport/index';
    if ($_SESSION['Default']['enablewritebacks'] != 'Y') {
        $reportsMenuItems['Demographic Change'] = BASE_PATH . '/provider/demographicupdatereport/index';
    } else {
        $reportsMenuItems['Writeback Updates'] = BASE_PATH . '/provider/demographicupdatereport/index';
    }
    $reportsMenuItems['Email Notifications Status'] = BASE_PATH . '/provider/emailnotificationreport/index';
    $reportsMenuItems['New Enrollments'] = BASE_PATH . '/provider/enrollmentreport/index';
    $reportsMenuItems['Online Bill Pay '] = BASE_PATH . '/provider/onlinebillpayreport/index';
    $reportsMenuItems['Patient Check-ins'] = BASE_PATH . '/provider/consolidatedvisitreport/index';
    $reportsMenuItems['Payments'] = BASE_PATH . '/provider/insuranceadjudicationreport/index';
    $reportsMenuItems['Residual Balance Collections '] = BASE_PATH . '/provider/residualbalance/index';
    // $reportsMenuItems['Statement Notifications'] = BASE_PATH . '/provider/sendgridreport/index'; // Disabled

    if (strpos($_SESSION['Default']['providerActiveConfigurations'], 'statementhubui') !== FALSE) {
        $reportsMenuItems['Statement Hub Report'] = BASE_PATH . '/statementhub/report';
    }

    $menuItems['Reports &nbsp; <i class="fe fe-chevron-down"></i>'] = $reportsMenuItems;

    /*
     * Analytics menu
     */
    if (strpos($_SESSION['Default']['providerActiveConfigurations'], 'yellowfin.enabled') !== FALSE) {
        $menuItems['Analytics (Beta) &nbsp; <i class="fe fe-chevron-down"></i>'] = [
            'Overview' => BASE_PATH . '/analytics',
            'PoS Collections' => BASE_PATH . '/analytics/poscollections',
            'Post-Visit Collections' => BASE_PATH . '/analytics/postvisitcollections',
            'New Enrollments' => BASE_PATH . '/analytics/newenrollments',
        ];
    }
} else {
    $menuItems['Login'] = BASE_PATH;
}

$requestUri = $_SERVER["REQUEST_URI"];
?>
<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
    <?php
    /*
     * Iterate the final menu
     */
    foreach ($menuItems as $display => $link) {


        if (is_array($link)) {
            $active = in_array($requestUri, $link) ? ' active ' : '';

            echo ' <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link ' . $active . '" data-toggle="dropdown">' . $display . '</a>
        <div class="dropdown-menu dropdown-menu-arrow">';
            foreach ($link as $submenuDisplay => $submenuLink) {
                $active = strpos($requestUri, $submenuLink) !== FALSE ? ' active ' : '';
                echo '<a href="' . $submenuLink . '" class="dropdown-item ' . $active . '">' . $submenuDisplay . '</a>' . "\n";
            }
            echo '</div>
    </li>';
        } else {
            $active = strpos($requestUri, $link) !== FALSE ? ' active ' : '';
            echo '<li class="nav-item"><a href="' . $link . '" class="nav-link ' . $active . '">' . $display . '</a> </li>' . "\n";
        }
    }
    ?>
</ul> 
